/*
* 1. position
* 2. size
* 3. style
*/

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 70px;

}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(12,86,124);
  transition: color .3s ease;
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Work_Sans/static/WorkSans-Regular.ttf');
}